
#ignore thumbnails created by windows
Thumbs.db
*~
~*
*#
*.swp
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
ipch/
*.opensdf
AppPackages/
bin/
ARM/

# Ignore f/les build by ndk and eclipse
NUL
android/*/libs/
android/*/bin/
android/*/obj/
android/*/assets/
android/*/gen/
.cproject
.settings/
*.stackdump
android_build_path.sh
build_common.properties
cygwin_path.bat
local.properties

# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
build/
.DS_Store

/android/999999/NUL
.Target-Debug
.Target-Release
proj.bada/sdk1.0/Res/
proj.bada/sdk2.0/Res/
proj.bada/sdk1.0/lib/
proj.bada/sdk2.0/lib/
*.htb
signature.xml
