<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="C0E519FD-6140-4fab-B97D-CC9454E86F96" Publisher="CN=eugene_gff" Version="1.0.0.0" />
  <Properties>
    <DisplayName>helloCocoBox</DisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <PublisherDisplayName>cocos2d</PublisherDisplayName>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="helloCocoBox.App">
      <VisualElements DisplayName="helloCocoBox" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="helloCocoBox" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>